In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import scale,normalize
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso
from  sklearn.metrics import mean_squared_error as rmse
%matplotlib inline
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
train =pd.read_csv('task1.training.csv')

In [3]:
test = pd.read_csv('task1.test.csv')

In [4]:
train_header = list(train.columns[0:10])

In [32]:
#train

In [6]:
train_header

['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9']

In [7]:
train = np.array(train,dtype= np.float128)
test = np.array(test,dtype = np.float128)

In [8]:
train_data = train[:,0:10]

In [9]:
train_data.shape

(10000, 10)

In [10]:
train_answer = train[:,-1]

In [11]:
z = np.abs(stats.zscore(train_data))

In [12]:
data = train_data[(z < 2.25).all(axis=1)]

In [13]:
data.shape

(8830, 10)

In [14]:
data_ans = train_answer[(z < 2.25).all(axis=1)]

In [15]:
#train_x,val_x,train_y,val_y = train_test_split(train_data,train_answer,test_size = 0.3,shuffle = False,random_state=40)
train_x,val_x,train_y,val_y = train_test_split(data,data_ans,test_size = 0.3,shuffle = False,random_state=40)

In [16]:
reg = LinearRegression()

In [17]:
reg.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
linear_predict = reg.predict(val_x)

In [19]:
liean_error = rmse(linear_predict,val_y)

In [20]:
liean_error
## 4.815068526702765376e-09 2.25

4.815068526702765376e-09

In [21]:
test.shape

(2000, 10)

In [22]:
test

array([[ 7.6329, 13.4432,  9.9584, ...,  7.3397, 13.3545,  8.4885],
       [ 6.2876, 11.7434,  6.5261, ..., 21.1978,  8.8746, 21.3289],
       [22.9674,  8.3471, 20.0081, ...,  9.3951, 13.479 , 16.4925],
       ...,
       [13.5519,  9.0336, 15.4118, ..., 13.0606,  7.1836, 19.4628],
       [ 9.9911, 11.5367,  7.97  , ..., 14.0916,  5.3466, 20.4774],
       [16.6012,  8.636 , 19.957 , ...,  8.3201, 12.2196,  8.8913]])

In [23]:
answer = reg.predict(test)

In [24]:
answer.shape

(2000,)

In [25]:
np.savetxt('test.csv', answer, delimiter=',')

In [26]:
df = pd.read_csv("test.csv",names=['Predicted'])

In [27]:
df['id']=np.array(range(1,2001))

In [28]:
df

      Predicted    id
0     12.106698     1
1     22.242272     2
2     12.346981     3
3     20.433592     4
4     18.201238     5
...         ...   ...
1995  10.017543  1996
1996  10.530737  1997
1997   5.520837  1998
1998   9.665624  1999
1999  22.133002  2000

[2000 rows x 2 columns]

In [29]:
df.to_csv('test.csv',columns=['id','Predicted'], index = False)

In [30]:
df

      Predicted    id
0     12.106698     1
1     22.242272     2
2     12.346981     3
3     20.433592     4
4     18.201238     5
...         ...   ...
1995  10.017543  1996
1996  10.530737  1997
1997   5.520837  1998
1998   9.665624  1999
1999  22.133002  2000

[2000 rows x 2 columns]